.loading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 140px;
  text-align: center;
  text-transform: uppercase;
}

.loading h1 {
  text-align: center;
}

.load {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
